<nav>
    <div class="container-header">
        <div class="section-1">
            <img id="logo" src="../../../assets/png/logo.png" alt="">
            <div class="container-fluid search">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 search-input" type="search" placeholder="Search"
                        aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
            </div>
            <div id="inicio">
                <button type="button" class="btn btn-reservar">Reservar</button>
                <img id="usuario" src="../../../assets/png/usuario.png" alt="">
            </div>
        </div>

        <div class="section-2">
            <a class="link texto" [class.selected]="isSelected('Inicio')" href=""
                (click)="selectButton('Inicio')">Inicio</a>
            <a class="link texto" [class.selected]="isSelected('Menú')" href="menu"
                (click)="selectButton('Menú')">Menú</a>
            <a class="link texto" [class.selected]="isSelected('Ubicación')" href="ubicacion"
                (click)="selectButton('Ubicación')">Ubicación</a>
            <a class="link texto" [class.selected]="isSelected('FAQ')" href="FAQ" (click)="selectButton('FAQ')">FAQ</a>
        </div>

    </div>
</nav>