<nav>
    <div class="container-header">
        <div class="row align-items-center justify-content-center section-1 inner-row">
            <div class="col col-3 col-sm-2 col-md-4">
              <img  id="logo" src="assets/png/logo.png" alt="">
            </div>
            <div class="col col-9  col-sm-10 pe-4 pe-md-0 col-md-4">
              <div class="search w-100">
                <div class="d-flex" role="search">
                  <input class="form-control me-2 search-input" type="search" placeholder="Buscar"
                      aria-label="Buscar">
                  <button class="btn btn-search-per"><i class="fa fa-search"></i></button>
                </div>
              </div>

            </div>
            <div class="col col-10 mb-2 mb-md-0 col-md-4 p-0 m-0">
              <div class="d-flex justify-content-center justify-content-md-end">
                <button type="button" class="btn btn-reservar me-3">Reservar</button>
                <button type="button" class="btn btn-reservar me-3" routerLink="iniciarsesion">Ingresar</button>
              </div>
            </div>
        </div>

        <div class="section-2">
            <a class="link texto ms-1" [class.selected]="isSelected('Inicio')" routerLink="inicio"
                (click)="selectButton('Inicio')"><div>Inicio</div></a>
            <a class="link texto ms-1" [class.selected]="isSelected('Menú')" routerLink="menu"
                (click)="selectButton('Menú')"><div>Menú</div></a>
            <a class="link texto ms-1" [class.selected]="isSelected('Ubicación')" routerLink="ubicacion"
                (click)="selectButton('Ubicación')"><div>Ubicación</div></a>
            <a class="link texto ms-1 me-1" [class.selected]="isSelected('FAQ')" routerLink="FAQ" (click)="selectButton('FAQ')"><div>FAQ</div></a>
        </div>

    </div>
</nav>
