.container-FAQ {
    margin-block-end: 30px;
}

.titulo-FAQ {
    color: white;
}

.pregunta {
    font-size: 22px;
}

.respuesta {
    font-size: 18px;
}

.accordion {
    width: 70%;
    margin: 0 auto;
}

.accordion-button {
    height: 80px;
    color: black;
}