<div class="animate__animated animate__fadeIn container-fluid" id="container1">
    <div class="row">
        <div class="col-md-4 d-none d-sm-block" id="img1" style="background-position: 130% 50%;">
        </div>
        <div class="col-md-12 col-lg-4">
            <h1>
                Reserva con nosotros
            </h1>
            <input type="text" class="form-control" id="inputText1" placeholder="Nombre">
            <br>
            calendario aqui (ahorita lo agarro del jale).
            <br>
            <input type="time" class="form-control" id="inputText2" placeholder="HH:MM">
            <div id="container1">
                Nueva
            </div>
            <button type="button" class="btn" id="btn1">Reservar</button>
        </div>
        <div class="col-md-4 d-none d-sm-block" id="img1" style="background-position: -25% 50%;">
            
        </div>
    </div>
</div>