#img1 {
    height: 120vh;
    margin: 10vh 0 10vh 0;
    background-image: url('/assets/png/2.png');
    background-size: 120vh;
    background-repeat: no-repeat;
}

h1 {
    color: white;
    margin: 15% 0 10% 0;
    width: 100%;
    text-align: center;
}


#inputText1 {
    background-color: #eb8500;
    color: white;
    margin: 2% 0 0 5%;
    border: none;
    width: 90%;
    border-radius: 20px;

}

#inputText1::placeholder{
  color: rgba(255, 255, 255, 0.925);
}

#inputText2 {
    background-color: #eb8500;
    color: white;
    margin: 2% 0 0 5%;
    border: none;
    width: 90%;
    border-radius: 20px;
    text-align: center;
}

#inputText2::placeholder{
  color: rgba(255, 255, 255, 0.925);
}

#btn1 {
    background-color: #eb8500;
    color: white;
    border-radius: 20px;
    margin-top: 5%;
    width: 60%;
}
#btn2 {
    background-color: #eb8500;
    color: white;
    border-radius: 20px;
    margin-top: 5%;
    width: 60%;
}
:host {
    font-family: 'Tilt_Neon', sans-serif;
}

.form-control{
  padding: 10px;
}


.white{
  color: white;
}
