<div class="animate__animated animate__fadeIn container-fluid" id="container1">
    <div class="row">
        <form class="col-md-12 col-lg-4" [formGroup]="formNuevaReservacion" (ngSubmit)="onSubmit(1)">
            <h1>
                Reserva con nosotros
            </h1>
            <input type="text" class="form-control" id="inputText1" placeholder="Nombre" formControlName="nombre">
            <br>
            <input type="email" class="form-control" id="inputText1" placeholder="Correo" formControlName="correo">
            <br>
            <input type="text" class="form-control" id="inputText1" placeholder="Apellido paterno"
                formControlName="apellidoPaterno">
            <br>
            <input type="text" class="form-control" id="inputText1" placeholder="Apellido materno"
                formArrayName="apellidoMaterno">
            <br>
            <input type="number" class="form-control" id="inputText1" placeholder="Telefono" formControlName="telefono">
            <br>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" (change)="showCurp=!showCurp" id="invalidCheck">
                <label class="form-check-label" for="invalidCheck">
                    Curp.
                </label>
            </div>
            <br>
            <input type="text" class="form-control" id="inputText1" placeholder="CURP" *ngIf="showCurp"
                formControlName="curp">
            <input type="date" class="form-control" placeholder="Selecciona una fecha" id="inputText1">
            <br>
            <input type="time" class="form-control" id="inputText2" placeholder="HH:MM">

            <button type="submit" class="btn" id="btn1">Reservar</button>
        </form>
        <form class="col-md-4 d-sm-block" [formGroup]="formVerificarReservacion" (ngSubmit)="onSubmit(2)">
            <h1>Verificar reservacion</h1>
            <input type="text" class="form-control" id="inputText1" placeholder="Numero de reservacion"
                formControlName="correo">
            <br>
            <input type="password" class="form-control" id="inputText1" placeholder="Contrasena"
                formControlName="contrasena">
            <button type="submit" class="btn" id="btn2">Verificar</button>
        </form>
        <div class="col-md-4 d-none d-sm-block" id="img1" style="background-position: -25% 50%;">
        </div>
    </div>
</div>