<footer style="height: 150px;">
    <div class="row m-0 h-80" style="background-color: #D98866;">
        <div class="col text-center m-0">
            <i class="bi bi-facebook p-3" style="font-size: 32px;"></i>
            <i class="bi bi-twitter-x p-3" style="font-size: 32px;"></i>
            <i class="bi bi-instagram p-3" style="font-size: 32px;"></i>
        </div>
        <div class="col text-center">
            Restaurante El Oasis, todos los derechos reservados
        </div>
    </div>
    <div class="row m-0 h-20" style="background-color: #FCE0D5;">
        <div class="col text-center m-0">
            Preguntas frecuentes.
        </div>
        <div class="col text-center m-0">
            ©UAA, 2024.
        </div>
    </div>
</footer>