<div class="container-fluid container-side">
    <div class="row">

        <div class="col text-light side">
          <div class="mt-4 mb-4">
            <h2 class="titulo text-center smooth-transition mb-4" style="color: black;">Formularios</h2>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Empleado</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Mesa</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Categoria</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" routerLink="sistema/subcategorias" routerLinkActive="selected">Subcategoria</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Ingrediente</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Producto</a></div>
            <h2 class="titulo text-center smooth-transition mb-4 mt-4" style="color: black;">Consultas</h2>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Reservaciones</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto">Servicios</a></div>
          </div>

        </div>
    </div>
</div>
