<div class="container-fluid container-side">
    <div class="row">
        <h2 class="titulo" coo></h2>
        <div class="col text-light side">
          <div class="mt-2">
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Puesto</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Estado</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Municipio</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Direccion</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Empleado</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Cliente</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Mesa</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Reservacion</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Servicio</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Orden</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Detalle Orden</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Categoria</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" routerLink="sistema/subcategorias" routerLinkActive="selected">Subcategoria</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Ingrediente</a></div>
            <div class="row text-center"><a class="no-selected mb-2 btn text-center mx-auto" href="#">Producto</a></div>
          </div>

        </div>
    </div>
</div>
