<div class="container-fluid container-side">
    <div class="row">
        <div class="col-md-2 text-light side">
            <ul class="nav flex-column">
                <li class="nav-item texto item-side"><a class="nav-link" href="#">Puesto</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Estado</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Municipio</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Direccion</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Empleado</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Cliente</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Mesa</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Reservacion</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Servicio</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Orden</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Detalle Orden</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Categoria</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Subcategoria</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Ingrediente</a></li>
                <li class="nav-item texto"><a class="nav-link" href="#">Producto</a></li>
            </ul>
        </div>
    </div>
</div>