.container-side {
    margin-top: 20px;
}

.side {
    margin-left: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.945);
}

.side a {
    color: rgb(0, 0, 0);
}

.side a:hover {
    color: #F03153;
}