<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-3">
            <div id="contenedor1">
                <div id="contenedorEncabezado1">
                    <h3 style="width: 100%; text-align: center;">Mesas</h3>
                </div>
                <div id="contenedorMesas1">
                    <ul *ngFor="let i of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]">
                        <li><p></p></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-9">
            <div id="contenedor1">
                <div id="contenedorEncabezado1">
                    <h3 style="width: 100%;">Mesa</h3>
                </div>
                <div id="contenedorOrdenes1">
                    <div class="row" id="contenedorOrdenes2">
                        <div class="col col-12 col-sm-8">detalle</div>
                        <div class="col col-12 col-sm-4">Estado</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>