:host {
    font-family: 'Tilt_Neon', sans-serif;
}
#contenedor1{
    margin: 5vh 5% 0 5%;
    color: white;
}
#contenedorEncabezado1{
    background-color: #FF9000;
    margin-top: 0;
    margin: 0 0 0 0;
}
h3{
    margin: 0;
    padding: 2vh 3vw 2vh 3vw;
}
#contenedorMesas1{
    background-color: #EA6A12;
    opacity: 67%;
    margin: 0 0 0 0;
    padding: 2% 0 0 0;
}

#contenedorOrdenes1{
    background-color: #EA6A12;
    margin: 0 0 0 0;
    padding: 2% 0 2% 0;
}
#contenedorOrdenes2{
    background-color: #FEBD01;
    margin: 1vh 1vw 1vh 1vw;
    padding: 1vh 1vw 1vh 1vw;
    color: black;
}