<div class="animate__animated animate__fadeIn container-fluid" id="background">
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <div class="w-100 text-center">
                <img src="/assets/png/logo.png" alt="" id="logo1" class="img-fluid w-50">
                <form class="contenedorLogin">
                    <h2>Sign in</h2>
                    <p>Sign in to stay connected.</p>
                    <p id="texto1">Email</p>
                    <input type="text" class="form-control" id="inputText1">
                    <p id="texto1">Pasword</p>
                    <input type="text" class="form-control" id="inputText1">
                    <div class="form-check" id="texto1" style="margin-left: 5%;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me?
                        </label>
                    </div>
                    <button type="button" class="btn" id="btn1">Sign in</button>
                    <p style="margin-top: 5%;">or sign in with other accounts?</p>
                    <p style="margin-top: 5%;">
                        Don't you have an account?
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover text-dark"
                            href="#">
                            Click here to sign up.
                        </a>
                    </p>
                </form>
            </div>
        </div>
        <div class="col-md-7 d-none d-sm-block">
            <div id="img2"></div>
            <div id="img3"></div>
            <div id="img4"></div>
            <div id="img5"></div>
            <div id="img6"></div>
        </div>
    </div>
</div>
