<div class="animate__animated animate__fadeIn container-fluid" id="background">
    <div class="row">
        <div class="col-md-12 col-lg-5">
            <div class="w-100 text-center">
                <img src="/assets/png/logo.png" alt="" id="logo1" class="img-fluid w-50">
                <div class="contenedorLogin">
                    <h2 class="titulo">Iniciar sesión</h2>
                    <p class="texto">Accede a las funciones de empleado</p>
                    <p id="texto1">Email</p>
                    <input type="text" class="form-control" id="inputText1">
                    <p id="texto1">Pasword</p>
                    <input type="text" class="form-control" id="inputText1">
                    <div class="form-check" id="texto1" style="margin-left: 5%;">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Remember me?
                        </label>
                    </div>
                    <button type="button" class="btn" id="btn1">Sign in</button>
                    <p style="margin-top: 5%;">or sign in with other accounts?</p>
                    <p style="margin-top: 5%;">
                        Don't you have an account?
                        <a class="link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-0-hover text-dark"
                            href="#">
                            Click here to sign up.
                        </a>
                    </p>

                </div>
            </div>
        </div>
        <div class="col-md-7 d-none d-lg-block">
            <img src="/assets/png/7.png" alt="" id="img2" class="img-fluid w-25">
            <img src="/assets/png/8.png" alt="" id="img3" class="img-fluid">
            <img src="/assets/png/9.png" alt="" id="img4" class="img-fluid">
            <img src="/assets/png/10.png" alt="" id="img5" class="img-fluid">
            <img src="/assets/png/11.png" alt="" id="img6" class="img-fluid">
        </div>
    </div>
</div>
