#titulo-enc {
    margin-block-end: 25px;
    color: rgba(255, 255, 255, 0.918);
    margin-top: 150px;
}

#mapa {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
}

#mapa iframe {
    border-radius: 15px;
}

.container-detalles {
    width: 60%;
    background-color: #ea681275;
    margin: 0 auto;
    border: 3px solid #ad0404be;
    margin-block-end: 30px;
}

.container-detalles p {
    color: white;
    font-size: 28px;
}


.iconos {
    width: 50px;
    height: 50px;
}


.correo,
.telefono,
.ubicacion {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 15px auto;
    text-align: center;
    justify-content: space-around;
}
