<body>
    <div class="container-ubicacion">
        <br><br>

        <h1 class="text-center titulo" id="titulo-ubi">Ubicacion</h1>
        <br><br>

        <div class="col-md-6" id="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2481.938325642082!2d-0.14136458422864132!3d51.50195421635058!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761b048c9e6cc9%3A0x9d03bfbda95e6d77!2sBuckingham%20Palace!5e0!3m2!1sen!2suk!4v1600181614217!5m2!1sen!2suk"
                width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false"
                tabindex="0"></iframe>
        </div>

        <br><br><br><br><br><br><br>

        <h1 class="text-center titulo" id="titulo-enc">Encuentranos</h1>
        <br>
        <div class="container-detalles">
            <div class="telefono">
                <img class="iconos" src="../../../assets/png/telefono.png" alt="">
                <p class="texto">+524491234567</p>
            </div>
            <div class="correo">
                <img class="iconos" id="img-correo" src="../../../assets/png/correo.png" alt="">
                <p class="texto">contacto&#64;eloasis.com</p>
            </div>
            <div class="ubicacion">
                <img class="iconos" src="../../../assets/png/ubicacion.png" alt="">
                <p class="texto">+524491234567</p>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
</body>