<div class="animate__animated animate__fadeIn container-fluid">
    <div class="container-banner">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="img-center">
                        <img src="assets/img/Banner-1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-center">
                        <img src="assets/img/Banner-1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="img-center">
                        <img src="assets/img/Banner-1.jpg" class="d-block w-100" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="promociones">
            <img id="img-promocion" src="assets/png/2.png" alt="">
            <h1 style="margin-top: 80px;" class="titulo">50% de descuento!</h1>
            <p class="texto">Precio completo</p>
        </div>

    </div>


    <div class="container-novedades">
        <h1 class="text-center titulo titulo-nov">Novedades</h1>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-5">
            <div class="col" *ngFor="let card of cards">
                <div class="card h-100 producto">
                    <img [src]="card.imageUrl" class="card-img-top card-img img-fluid" alt="...">
                    <div class="card-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title text-center titulo">{{ card.title }}</h5>
                        <p class="card-text text-center texto">{{ card.text }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-reservar">
        <button type="button" class="btn btn-reservar texto">Reservar&#160; <i class="fa fa-hand-pointer"></i> </button>
    </div>

    <div class="row row-cols-1 row-cols-md-2 container-nosotros">
        <div class="col">
          <img class="img-fluid" id="chambeadora" src="assets/img/chambeadora.png" alt="">
        </div>
        <div class="col">
          <div class="container-chambainfo">
            <h1 class="titulo titulo-chamba">Que dicen nuestros clientes sobre nosotros</h1>
            <p class="texto texto-chamba">
                “Anoche tuve el placer de cenar en Oasis y ¡todavía estoy entusiasmado con la
                experiencia!
                La atención al detalle en la presentación y el servicio fue impecable”
            </p>
          </div>
        </div>

    </div>

    <br><br><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 container-informacion">
        <div class="col mt-2">
          <div class="d-flex align-items-center flex-column h-100">
            <h2 class="text-center titulo titulo-info">Mision</h2>
            <div class="container-mision center-inner">
                <p class="texto texto-info">
                    Ofrecer comida rápida de calidad, servida con velocidad y sonrisas, en cada
                    visita.
                </p>
            </div>
          </div>
        </div>
        <div class="col mt-2">
          <div class="d-flex align-items-center flex-column h-100">
            <h2 class="text-center titulo titulo-info">Vision</h2>
            <div class="container-vision center-inner">
                <p class="texto texto-info">
                    Ser el lugar predilecto para comida rápida, donde cada cliente se va más feliz y satisfecho.
                </p>
            </div>
          </div>

        </div>
        <div class="col mt-2">
          <div class="d-flex align-items-center flex-column h-100">
            <h2 class="text-center titulo titulo-info">Valores</h2>
            <div class="container-valores center-inner">
                <p class="texto texto-info">
                    Calidad, rapidez, y hospitalidad. Comprometidos con la excelencia culinaria, la eficiencia en el
                    servicio y un ambiente
                    acogedor para todos.
                </p>
            </div>
          </div>
        </div>
    </div>
    <br><br><br>
</div>
