.carousel {
    width: 100%;
    overflow: hidden;
}

.container-banner {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel-inner {
    flex: 1;
    width: 100%;
    border-radius: 10px;
}

.img-center {
    height: 340px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.promociones {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-shrink: 0;
    margin-left: 5px;
    width: 35%;
    background-color: rgba(255, 255, 255, 0.623);
    height: 340px;
    border-radius: 10px;
}

#img-promocion {
    position: absolute;
    top: -65px;
    width: 220px;
    height: 220px;
}

.container-nosotros {
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
}

.container-reservar {
    text-align: center;
    margin-top: 80px;
    .btn{
      padding-left: 80px;
      padding-right: 80px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
}

.btn-reservar {
    background-color: white;
    color: #F03153;
    border: 3px solid #F03153;
    border-radius: 25px;
    font-family: 'Tilt_Neon', sans-serif;
    font-size: 22px;
}

.btn-reservar:hover {
    color: white;
    background-color: #F03153;
}

.container-chambainfo {
    display: flex;
    flex-direction: column;
}

.titulo-chamba {
    color: white;
    margin-top: 50px;
}

.container-informacion {
    margin: 0 auto;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.container-vision,
.container-valores,
.container-mision {
    margin-top: 10px;
    height: 100%;
    background-color: #e96d1baf;
    border: 3px solid #c4692cd3;
    border-radius: 35px;
}

.texto-info {
    font-size: 23px;
    padding: 20px;
    color: black;
}

.titulo-info {
    color: rgb(173, 56, 56);
}

.card {
    border-radius: 15px;
}

.container-novedades {
    width: 80%;
    margin: 0 auto;
    margin-top: 50px;
}

.titulo-nov {
    margin-block-end: 40px;
    color: #FFC153;
    font-size: 50px;
}

.producto {
    position: relative;
    background-color: #e0441dc0;
    box-shadow: 0 2px 5px rgba(136, 29, 29, 0.1);
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-overlay {
    position: absolute;
    top: -100px;
    right: -55px;
    width: 70%;
    height: 60%;
    background: linear-gradient(to bottom, #EA6A12, #f55959);
    transform: rotate(5deg);
    z-index: 0;
    border-radius: 15px;
}

.card-title {
    color: white;
    font-size: 25px;
}

.card-text {
    color: white;
    font-size: 15px;
}

.card-img {
    display: block;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    position: relative;
    z-index: 1;
}



@media screen and (min-width: 1200px) {
  #img-promocion {
    top: -70px;
    width: 300px;
    height: 300px;
  }
  .promociones {
    height: 440px;
  }
  .img-center {
    height: 440px;
  }
}

@media screen and (min-width: 1600px) {
  #img-promocion {
    top: -70px;
    width: 350px;
    height: 350px;
  }
  .promociones {
    height: 590px;
  }
  .img-center {
    height: 590px;
  }
}

@media screen and (max-width: 992px) {
  #img-promocion {
    top: -60px;
    width: 160px;
    height: 160px;
  }
  .promociones {
    height: 280px;
  }
  .img-center {
    height: 275px;
  }
}

@media screen and (max-width: 768px) {
  #img-promocion {
    top: -60px;
    width: 160px;
    height: 160px;
  }
  .promociones {
    height: 240px;
  }
  .img-center {
    height: 210px;
  }
}

@media screen and (max-width: 576px) {
  #img-promocion {
    top: -55px;
    width: 120px;
    height: 120px;
  }
  .promociones {
    height: 200px;
  }
  .img-center {
    height: 160px;
  }
}
