<div class="row container-shopping">
    <div class="col col-12 col-lg-3 ">
        <div class="shopping-cart sticky-lg-top">
            <h3 class="titulo text-center" style="color: black;">Orden</h3>
            @if(products.length > 0){
            <ul class="list-group overflow-y-auto per-list texto text-center">
                <li class="list-group-item" *ngFor="let product of products">
                    {{ product.Nombre }}
                    <span class="badge precio float-right">${{ product.precio }}</span>
                    <div class="item-controls">
                        <button class="btn btn-sm btn-secondary" (click)="decrementQuantity(product)">-</button>
                        <span class="quantity">{{ product.cantidad }}</span>
                        <button class="btn btn-sm btn-secondary" (click)="incrementQuantity(product)">+</button>
                        <button class="btn btn-sm btn-danger" (click)="removeProduct(product.id)">Eliminar</button>
                    </div>
                </li>
            </ul>
            <div class="total texto text-center">
                <strong>Total:</strong> ${{ totalAPagar.toFixed(2) }}
            </div>

            }@else{
            <p class="texto text-center">Sin productos agregados</p>
            }
            <div class="text-center">
                <button class="btn btn-pedido texto px-3" [disabled]="products.length == 0">Realizar Orden</button>
            </div>

        </div>
    </div>
    <div class="col col-12 col-lg-9">
        <app-menu (productoAgregar)="fnRecibirProducto($event)" [pedidos]="true"></app-menu>
    </div>
</div>