<div class="animate__animated animate__fadeIn container-fluid">
  <h1 class="titulo text-center mt-4">Menú</h1>
  <h2 class="titulo text-center text-md-start ms-md-5">Categorías de menú</h2>
  <div class="d-flex justify-content-center align-items-center mb-4">
    <div class="d-flex flex-nowrap flex-row overflow-x-auto justify-content-start" id="categorias">
      @for (categoria of categorias; track categoria.id; let idx = $index) {
      <div class="col col-7 col-sm-5 col-lg-3 col-xxl-2 col-per-cat"
        [ngClass]="{'ms-3': idx != 0, 'me-3': idx!=(categorias.length-1)}">
        <div class="card card-per smooth-transition" [ngClass]="{'active-card': categoria.active}">
          <div class="img-container">
            <img [src]="categoria.imagen" class="card-img-top img-aspect">
          </div>

          <div class="card-body text-center">
            <h5 class="card-title texto mb-3" style="color: white; font-size: 1.8rem;">{{categoria.nombre}}</h5>
            <hr class="br-div smooth-transition" [ngClass]="{'active-br': categoria.active}">
            <button (click)="changeActive(categoria)" class="btn btn-cat mt-3 smooth-transition"
              [ngClass]="{'active-btn': categoria.active}"><i class="fa fa-chevron-right"></i></button>
          </div>
        </div>
      </div>
      }
    </div>
  </div>

  @if(activeSubcategorias.length > 0){
  <div class="row">
    <h2 class="titulo text-center text-md-start ps-md-5 smooth-transition" id="cat-sel">{{getActiveItem()}}</h2>
    @if(!loading){
    <div class="col order-1 order-lg-0 col-12 col-lg-9" [ngClass]="{'col-xxl-10':!pedidos}">

      @for(subcat of activeSubcategorias; track $index){
      @if(subcat.habilitado){
      <h2 class="titulo text-center" [id]="'cat'+subcat.id">{{subcat.nombre}}</h2>
      <div class="d-flex justify-content-center align-items-center mb-4">
        <div *ngIf="subcat.productos && subcat.productos.length > 0 else sinProductos"
          class="row row-cols-xl-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1" id="subcategorias"
          [ngClass]="{'row-cols-xxl-4':!pedidos}">
          @for (producto of subcat.productos; track $index) {
          @if(producto.habilitado){
          <div class="col col-per">
            <div class="card animate__animated animate__fadeIn cad-per-product text-center">
              <img [src]="producto.imagen" class="img-producto ">
              <div class="card-body text-center smooth-transition body-card-per"
                [ngClass]="{'active-card': producto.active}">
                <h5 class="card-title texto mb-3 smooth-transition" style="font-size: 1.3rem;"
                  [ngStyle]="producto.active ? {'color': 'white'} : {'color':'black'}">{{producto.Nombre}}</h5>
                <hr class="br-div" [ngClass]="{'active-br': producto.active}">
                <div class="row justify-content-center align-items-center mt-3">
                  <div class="col" [ngClass]="{'col-12': pedidos}">
                    <p class="texto texto-naranja smooth-transition"
                      [ngStyle]="producto.active ? {'color': 'white'} : {'color':'#EA6A12'}">
                      {{producto.precio|currency}}</p>
                  </div>
                  <div *ngIf="pedidos" class="col col-6">
                    <button *ngIf="pedidos" class="btn btn-cat d-inline smooth-transition"
                      (click)="productoAgregar.emit(producto)" [ngClass]="{'active-btn': producto.active}"><i
                        class="fa fa-plus"></i></button>
                  </div>
                  <div class="col" [ngClass]="{'col-6': pedidos}">
                    <button class="btn btn-cat d-inline smooth-transition" data-bs-toggle="modal"
                      data-bs-target="#productoModal" (click)="showProducto(producto, subcat)"
                      [ngClass]="{'active-btn': producto.active}"><i class="fa fa-info"></i></button>
                  </div>
                </div>

              </div>
            </div>
          </div>
          }
          }
        </div>
        <ng-template #sinProductos>
          <h1 class="titulo text-center mt-5">Sin productos en la subcategoría</h1>
        </ng-template>
      </div>
      }
      }
    </div>
    <div class="col order-0 order-lg-1 col-12 col-lg-3 mb-4 mb-lg-0" [ngClass]="{'col-xxl-2':!pedidos}">
      <div class="sticky-top text-center container-subcats">
        <h2 class="titulo text-center smooth-transition mb-4">Subcategorías</h2>
        <div class="row mt-4">
          @for(subcat of activeSubcategorias; track $index){
          @if(subcat.habilitado){
          <div class="col-12">
            <button (click)="scrollToCat('cat'+subcat.id)" class="btn btn-subcat mb-3">
              <h2 class="texto"> <i class="fa fa-arrow-right"></i> {{subcat.nombre}}</h2>
            </button>
          </div>
          }
          }
        </div>
      </div>
    </div>
    }@else{
    <ng-container>
      <h1 class="titulo text-center mt-5">
        <div class="spinner-border" role="status"></div>
        Cargando...
      </h1>
    </ng-container>
    }
  </div>
  }@else{
  @if(!loadingCategorias){
  <ng-container>
    <h1 class="text-center titulo mt-5">Sin productos en la categoría {{getActiveItem()}}</h1>
  </ng-container>
  }@else{
  <ng-container>
    <h1 class="titulo text-center mt-5">
      <div class="spinner-border" role="status">
      </div>
      Cargando Menú...
    </h1>
  </ng-container>
  }

  }
</div>

<!--Modal de producto-->
<div class="modal modal-xl fade" id="productoModal" tabindex="-1" aria-labelledby="Modal producto" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal-content-per">
      <div class="modal-header">
        <h1 class="texto modal-title fs-5 ms-4 mt-1" id="exampleModalLabel">{{ detailProducto?.Nombre }}</h1>
        <button type="button" style="color: white !important;" class="btn-close me-3" data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row mx-3">
          <div class="col col-12 col-lg-8 border-per">
            <p class="texto" style="color: white;">
              {{ detailProducto?.Descripcion }}
            </p>
            <div class="text-center w-100">
              <img [src]="detailProducto?.imagen" class="img-fluid" style="max-height: 400px;">
            </div>
          </div>
          <div class="col col-12 text-center col-lg-4">
            <h4 class="titulo" style="color: white; font-weight: bold;">Ingredientes</h4>
            <ul style="list-style-type: none; padding-left: 0; text-align: left;">
              <li *ngFor="let ingrediente of detailProducto?.ingredientes" class="texto" style="color: white;">
                @if(pedidos){
                  <input type="checkbox" [(ngModel)]="ingrediente.seleccionado" [disabled]="!ingrediente.habilitado">
                }
                {{ ingrediente.nombre }} - {{ ingrediente.cantidad }}
              </li>
            </ul>
          </div>
        </div>
        <div class="row mx-3">
          <div class="col">
            <h4 class="titulo" style="color: white;">Tiempo de preparación</h4>
            <p class="texto" style="color: white;">{{ detailProducto?.tiempo }}</p>
          </div>
          <div class="col ">
            <h2 class="titulo" style="text-align: right;">{{ detailProducto?.precio | currency }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
